<div class="container skills-container">
  <h3>{{ site.skills_title | default: "Skills" }}</h3>
  <div class="row clearfix">
    <div class="col-xs-12 details">
      {% for skill in site.data.skills %}
      <div class="skill">
        <div class="skill-label">{{ skill.skill }}</div>
        <div class="points">
          <div class="{{ 'point ' }}{%- if skill.score[0] -%}on{%- endif -%}"><i class="fas fa-circle"></i></div>
          <div class="{{ 'point ' }}{%- if skill.score[1] -%}on{%- endif -%}"><i class="fas fa-circle"></i></div>
          <div class="{{ 'point ' }}{%- if skill.score[2] -%}on{%- endif -%}"><i class="fas fa-circle"></i></div>
          <div class="{{ 'point ' }}{%- if skill.score[3] -%}on{%- endif -%}"><i class="fas fa-circle"></i></div>
          <div class="{{ 'point ' }}{%- if skill.score[4] -%}on{%- endif -%}"><i class="fas fa-circle"></i></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
